*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
 
}

.main{
    background-color: black;
    height: calc(100vh - 80px);
    margin-left: 40px;
    margin-right: 40px;
}

.playbar{
    background-color: #222222;
    height: 80px;
}

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.item{
    color: white;
    width: calc(100% / 7 - 20px);
    padding-top: 20px;
}

.item img{
    width: 100%;
    display: block;
    padding: 2px;
}

.j-center{
    justify-content: center;
}

.relative{
    position: relative;
}

.top-right{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    margin: 10px;
}

.speaker{
    padding: 4px;
    background-color: grey;
    border-radius: 10%;
}

.full-screen{
    padding: 4px;
    background-color: grey;
    border-radius: 10%;
}